In [8]:
import sys
sys.path.append('../')
from  mongo.lib.mongo_db  import db_conn
import pandas as pd
import numpy as np
from pyecharts import Bar,configure,Pie
import time
from es_select import ES
import itertools

In [9]:
def date_to_time(date):
    timeArray = time.strptime(date, "%Y%m%d")
    time_semp = time.mktime(timeArray)
    return time_semp   # 2013
def date_to_date(date):
    timeArray = time.strptime(date, "%a %b %d %H:%M:%S %Y")
    time_semp = time.strftime("%Y%m%d%H%M%S", timeArray);
    return time_semp   # 2013

def time_to_today(timeStamp):
    timeArray = time.localtime(int(timeStamp))
    timeArray =time.strftime("%Y-%m-%d %H:%M:%S",timeArray)
    return timeArray   # 2013

## 1、查询20181106日联通出现 5017 （尊敬的客户您好，系统检测您的访问过于频繁，为保障您的账户安全请明天再试。）

In [10]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181106'),'$lte':date_to_time('20181107')},'status':5017})
data1=list(data)

In [11]:
data1_rpt_pd=pd.DataFrame(x for x in data1)

## 2、将代理信息和目标URL取出，统计请求次数、使用代理数量、代理去重列表

In [12]:
def get_proxy(data1_rpt_pd):
    all_sid_http_proxy=[]
    for sid in data1_rpt_pd.sid.values.tolist():
        es=ES('20181107')
        one_sid_http_proxy={}
        #print (sid)
        ret_list=es.get_all_ret(sid)
        #print(len(ret_list))
        one_sid_http_proxy['sid']=sid
        one_sid_http_proxy['tel']=data1_rpt_pd.loc[data1_rpt_pd.sid.values==sid,'tel'].values.tolist()[0]
        one_sid_http_proxy['status']=data1_rpt_pd.loc[data1_rpt_pd.sid.values==sid,'status'].values.tolist()[0]
        one_sid_http_proxy['http_proxy']=[]
        one_sid_http_proxy['url_base']=[]
        one_sid_http_proxy['dates']=[]
        for i,one_http in enumerate(ret_list):
            one_sid_http_proxy['http_proxy'].append(one_http['_source']['MSG']['proxies']['http'].replace('http://','').split('.')[0])
            one_sid_http_proxy['url_base'].append(one_http['_source']['MSG']['url'])
            one_sid_http_proxy['dates'].append(date_to_date(one_http['_source']['DATETIME']))
        l = [(k, len(list(g))) for k, g in itertools.groupby(one_sid_http_proxy['http_proxy'])]
        one_sid_http_proxy['http_req_count']=l
        one_sid_http_proxy['req_count']=len(ret_list)
        one_sid_http_proxy['http_unique']=list(set(one_sid_http_proxy['http_proxy']))
        one_sid_http_proxy['http_unique_count']=len(one_sid_http_proxy['http_unique'])
        all_sid_http_proxy.append(one_sid_http_proxy)
    return all_sid_http_proxy

In [13]:
all_sid_http_proxy=get_proxy(data1_rpt_pd)

In [14]:
all_sid_http_proxy_pd=pd.DataFrame(x for x in all_sid_http_proxy)

In [15]:
all_sid_http_proxy_pd=all_sid_http_proxy_pd.fillna(0)

## 3、将数据按照手机号码组织，并获取单个客户的请求此次，使用的代理数量

In [16]:
def chain_l(l):
    ret_dict={}
    for one in l:
        if one[0] in ret_dict:
            ret_dict[one[0]]+=one[1]
        else:
            ret_dict[one[0]]=one[1]
    return ret_dict

In [17]:
import itertools
def get_new_tel_list(all_sid_http_proxy_pd):
    new_tel_list=[]
    for tel in all_sid_http_proxy_pd.tel.unique().tolist():
        new_tel_dict={}
        tmp=all_sid_http_proxy_pd.loc[all_sid_http_proxy_pd.tel.values==tel,['tel','req_count','http_req_count','http_unique_count','http_unique']]
        tmp=tmp.fillna(0)
        #print(tmp.shape)
        new_tel_dict['tel']=tel
        new_tel_dict['req_count']=tmp.req_count.values.sum()
        #print(tmp.http_req_count.values.tolist())
        l=list(itertools.chain(*tmp.http_req_count.values.tolist()))
        l_dict=chain_l(l)
        new_tel_dict['http_req_count']=tuple(l_dict.values())
        new_tel_dict['http_unique_count']=tmp.http_unique_count.values.sum()
        new_tel_dict['http_unique']= tuple(l_dict)
        new_tel_list.append(new_tel_dict)
    new_tel_pd=pd.DataFrame(x for x in new_tel_list)
    return new_tel_pd

In [18]:
new_tel_pd=get_new_tel_list(all_sid_http_proxy_pd)

## 4、当天只使用同一个代理但是被封的客户

In [19]:
filte=np.logical_and(new_tel_pd.http_unique_count.values==1,True)
tmp_1=new_tel_pd.loc[filte,['tel','req_count','http_unique_count','http_unique']]

In [20]:
tmp_1

            tel  req_count  http_unique_count    http_unique
2   18665287903        329                  1  (squidsz108,)
5   18685282281        134                  1   (squidsz75,)
6   15505996669        173                  1   (squidsz35,)
19  15172525372         13                  1   (squidsz34,)
21  18685432568        128                  1   (squidsz97,)
24  18272115317         13                  1   (squidsz94,)
25  15854686844         13                  1   (squidsz18,)
26  18685378880        125                  1   (squidsz13,)
29  15519044333        128                  1   (squidsz19,)
30  18671666468        124                  1   (squidsz84,)

### 发现  15172525372 ,15854686844 和 18272115317 存在异常值

In [21]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181106'),'$lte':date_to_time('20181107')},'tel':{'$in':['15172525372','18272115317','15854686844']}})
data2=list(data)
data2=pd.DataFrame(x for x in data2)
one_sid_http_proxy=get_proxy(data2)
one_tel_http_proxy_pd=pd.DataFrame(x for x in one_sid_http_proxy) 
one_tel_http_proxy_pd=get_new_tel_list(one_tel_http_proxy_pd)

In [22]:
one_tel_http_proxy_pd.loc[:,['tel','req_count','http_unique_count','http_unique']]

           tel  req_count  http_unique_count   http_unique
0  15172525372         13                  1  (squidsz34,)
1  15854686844         13                  1  (squidsz18,)
2  18272115317         13                  1  (squidsz94,)

### 以上三个请求均为移动

### 接下来分析 代理squidsz34，在这次请求前后是否正常

In [106]:
es=ES()
proxy_ret=es.get_proxy_ret('http://squidsz34.dianhua.cn:8080')

In [107]:
one_sid_http_proxy_list=[]
for one in proxy_ret:
    one_sid_http_proxy={}
    one_sid_http_proxy['http_proxy']='http://squidsz34.dianhua.cn:8080'
    one_sid_http_proxy['url_base']=(one['_source']['MSG']['url'])
    one_sid_http_proxy['dates']=(date_to_date(one['_source']['DATETIME']))
    one_sid_http_proxy['sid']=((one['_source']['MSG']['sid']))
    one_sid_http_proxy_list.append(one_sid_http_proxy)

In [108]:
def sid_get_err_code(sid):
    data=db_conn.sid_info.find_one({"sid":sid,},{'_id':0,'status':1})
    return data.get('status',1)

In [109]:
one_sid_http_proxy_pd=pd.DataFrame(x for x in one_sid_http_proxy_list)
#one_sid_http_proxy_pd.groupby('sid')['http_proxy'].size().reset_index()
ip_proxy_sort_pd=one_sid_http_proxy_pd.groupby('sid')['dates'].max().reset_index().sort_values(by="dates")
ip_proxy_sort_pd['status']=ip_proxy_sort_pd.sid.map(sid_get_err_code)

In [110]:
ip_proxy_sort_pd

                                    sid           dates  status
2   SID0d6530b6b14a4736a9ba46a1891a05d5  20181108021408       0
34  SIDc571fa3ef9ff41d19319125d28e1d629  20181108042642       0
22  SID87bdba5f566048fc9ec35ffe796d9b32  20181108074318       0
26  SID9378bbe830be476581e9179d7ce085ce  20181108085127       0
8   SID48448543eec548d9ab80f27c49ea3b9e  20181108085918    3003
39  SIDd580a814f3664a1cb9abbf6924f56a5c  20181108091247       0
30  SIDb02ae80d2c3f4aa5a1561609b5f06e5d  20181108092836       0
6   SID3aa9dd5fc2b64f238fdebb42976c5072  20181108094249       0
21  SID871bdeceb0ea4a64b5569de216bfc9fc  20181108095436       0
9   SID48aed0311ebf481a938bfba7d29f2716  20181108100752       0
3   SID1e3cfd49d9444375ab21823d566e6aaa  20181108101846       0
43  SIDe0d9f97db4b64cb89caf759c6cddcfba  20181108102040       0
10  SID4db3f7a6026d491c844a5b66579bb75a  20181108103251       0
13  SID5e27fdbde73e4a93b50f295115fe5667  20181108104637       0
40  SIDdba59bd076704936a21e0ef4120e2a23  20181108105750    4116
27  SID96accf5980e44268b7030aa0513cc6e0  20181108111003       0
32  SIDb15d9246e5944e92aabfd744cffbe9a0  20181108111331    5017
45  SIDe983d55f3adc400988b832a111e39ba0  20181108112540       0
15  SID6ea939cf40284f3cb14668b594a7d497  20181108114258    3003
23  SID8cc49b6ea6544de1a0f7796d755c0dce  20181108120257       0
18  SID76f4ebfb381a4a76b01ac64789f1efb0  20181108120309    3003
0   SID05505513b27c49f4bcd6acbc6a3431fc  20181108122902       0
37  SIDcd274b213f9742ebbc169a68c0fb734e  20181108125620       0
20  SID7bef4b88ff444a99b0cd9a9f41639375  20181108130035    5017
5   SID391ba15457b7479a89e2d0543689530a  20181108132453       0
41  SIDdc1334c62c6448e5923fd65353ca9239  20181108134057       0
42  SIDdf9e4f1c4a87429693cd590460284f9e  20181108134441       0
25  SID90d7b7985935438085f94ce23d41d7d2  20181108140731       0
1   SID06463d6054864c49b142f70a3e31f842  20181108141801       0
31  SIDb09c89548fd244148c10fd3b827649ad  20181108143116       0
44  SIDe41f6cac00cb4d2c8e159b90bacdaba7  20181108143805    3003
17  SID7284606f6313468397a8032e943752bc  20181108145554       0
28  SID9c948a08d3bb4a4e94a5470190967de1  20181108150951       0
24  SID8ff629bf0d694a13a9b3d325a533f578  20181108151520       0
14  SID6a04d5dcdffc446db5f4f1b6fbbe6caa  20181108152855       0
33  SIDc4b524c7b3f8442ba20c47d410c75067  20181108153342       0
19  SID788e5d1e316c46c3a3bb10514b9640e8  20181108155814    3003
16  SID70bd0353ad194f3e82c71e5e503900a6  20181108161336       0
11  SID551e70adfd4042b5b18f68df71137ddc  20181108162527    5017
38  SIDce5b7c7656374d35b871497083709ec1  20181108164001       0
29  SIDa37268374b734867892d7287d0dbf213  20181108170559    5017
35  SIDcb3395de093641bf82b03d778e6f4e43  20181108171713       0
12  SID5a337924dc064bdfb8c66eb8c9c948d9  20181108174124    5017
46  SIDff425c47f256414183bc4310478ddd22  20181108174319       0
4   SID258adbcee7e54563b8f2994febf28caa  20181108182704       0
7   SID3d190b1729cd4e0b882ab0bbc70fac78  20181108190257    3003
36  SIDccc1e82a7dd24b868cbc817edabe1e28  20181108193539       0

#### 18606913615 当天发生的请求为 SIDb15d9246e5944e92aabfd744cffbe9a0 ，使用代理squidsz75，请求发送在上午11点，出现了请求频繁，该代理之后的其他会话中还是可以正常使用，并爬取成功，怀疑可能该客户当天通过其他渠道操作过账户。

## 5、使用多个代理被封情况分析
req_count 为请求官网次数

http_req_count 为http_unique中代理对应请求次数

http_unique_count 为使用代理个数

http_unique 为被使用过的代理

### A、使用代理数量超过1个的客户

In [112]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,True)
tmp_2=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_2

,tel,req_count,http_req_count,http_unique_count,http_unique
0,17694813571,13,"(3, 4, 3, 1, 1, 1)",6,"(squidsz83, squidsz86, squidsz106, squidsz114,..."
1,13008382883,139,"(3, 2, 2, 9, 123)",5,"(squidsz02, squidsz04, squidsz03, squidsz38, s..."
2,18634697724,22,"(5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",18,"(squidsz05, squidsz10, squidsz07, squidsz14, s..."
3,18599079688,23,"(4, 2, 9, 1, 1, 1, 1, 1, 1, 1, 1)",11,"(squidsz105, squidsz111, squidsz129, squidsz07..."
4,13092072910,34,"(7, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, ...",18,"(squidsz99, squidsz94, squidsz101, squidsz100,..."
5,13271092922,14,"(1, 1, 1, 3, 3, 3, 1, 1)",8,"(squidsz130, squidsz114, squidsz115, squidsz96..."
7,17678977583,54,"(7, 7, 17, 23)",4,"(squidsz15, squidsz24, squidsz32, squidsz109)"
8,15639955602,13,"(1, 1, 1, 3, 3, 3, 1)",7,"(squidsz12, squidsz08, squidsz112, squidsz84, ..."
9,13098734333,207,"(15, 15, 177)",3,"(squidsz79, squidsz126, squidsz116)"
10,13037809543,181,"(15, 15, 15, 136)",4,"(squidsz25, squidsz33, squidsz106, squidsz81)"
11,15696135003,8,"(1, 1, 1, 1, 1, 1, 1, 1)",8,"(squidsz10, squidsz11, squidsz40, squidsz46, s..."
12,13055410111,172,"(7, 2, 15, 7, 141)",5,"(squidsz126, squidsz05, squidsz09, squidsz83, ..."
13,15585298623,39,"(9, 6, 2, 22)",4,"(squidsz113, squidsz127, squidsz03, squidsz06)"
17,18685786884,162,"(15, 15, 132)",3,"(squidsz49, squidsz127, squidsz22)"
18,15665175906,17,"(3, 2, 2, 3, 2, 3, 1, 1)",8,"(squidsz87, squidsz91, squidsz104, squidsz103,..."
20,18650708170,153,"(7, 2, 144)",3,"(squidsz76, squidsz77, squidsz85)"
22,18666151238,209,"(15, 194)",2,"(squidsz30, squidsz92)"
25,13172598744,175,"(15, 15, 145)",3,"(squidsz102, squidsz71, squidsz29)"
28,18690861133,147,"(15, 132)",2,"(squidsz36, squidsz29)"
30,13012003608,7,"(5, 1, 1)",3,"(squidsz120, squidsz123, squidsz124)"
34,18672485919,145,"(15, 125, 5)",3,"(squidsz128, squidsz116, squidsz113)"

### B、分析代理总调用次数小于100次的客户

In [113]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,new_tel_pd.req_count.values<100)
tmp_3=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_3

,tel,req_count,http_req_count,http_unique_count,http_unique
0,17694813571,13,"(3, 4, 3, 1, 1, 1)",6,"(squidsz83, squidsz86, squidsz106, squidsz114,..."
2,18634697724,22,"(5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",18,"(squidsz05, squidsz10, squidsz07, squidsz14, s..."
3,18599079688,23,"(4, 2, 9, 1, 1, 1, 1, 1, 1, 1, 1)",11,"(squidsz105, squidsz111, squidsz129, squidsz07..."
4,13092072910,34,"(7, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, ...",18,"(squidsz99, squidsz94, squidsz101, squidsz100,..."
5,13271092922,14,"(1, 1, 1, 3, 3, 3, 1, 1)",8,"(squidsz130, squidsz114, squidsz115, squidsz96..."
7,17678977583,54,"(7, 7, 17, 23)",4,"(squidsz15, squidsz24, squidsz32, squidsz109)"
8,15639955602,13,"(1, 1, 1, 3, 3, 3, 1)",7,"(squidsz12, squidsz08, squidsz112, squidsz84, ..."
11,15696135003,8,"(1, 1, 1, 1, 1, 1, 1, 1)",8,"(squidsz10, squidsz11, squidsz40, squidsz46, s..."
13,15585298623,39,"(9, 6, 2, 22)",4,"(squidsz113, squidsz127, squidsz03, squidsz06)"
18,15665175906,17,"(3, 2, 2, 3, 2, 3, 1, 1)",8,"(squidsz87, squidsz91, squidsz104, squidsz103,..."
30,13012003608,7,"(5, 1, 1)",3,"(squidsz120, squidsz123, squidsz124)"

#### 查看这些客户当日是否有其他返回码的请求

In [114]:
data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181106'),'$lte':date_to_time('20181107')},'tel':{'$in':tmp_3.tel.values.tolist()}})
data2=list(data)
data2=pd.DataFrame(x for x in data2)
some_sid_http_proxy=get_proxy(data2)
some_sid_http_proxy_pd=pd.DataFrame(x for x in some_sid_http_proxy) 
some_sid_http_proxy_pd=get_new_tel_list(some_sid_http_proxy_pd)

In [115]:
some_sid_http_proxy_pd

,http_req_count,http_unique,http_unique_count,req_count,tel
0,"(5, 1, 1)","(squidsz120, squidsz123, squidsz124)",3,7,13012003608
1,"(7, 7, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, ...","(squidsz99, squidsz94, squidsz101, squidsz100,...",18,34,13092072910
2,"(3, 3, 3, 1, 1, 1, 1, 1)","(squidsz96, squidsz123, squidsz10, squidsz16, ...",8,14,13271092922
3,"(9, 2, 6, 22)","(squidsz113, squidsz03, squidsz127, squidsz06)",4,39,15585298623
4,"(3, 3, 3, 1, 1, 1, 1)","(squidsz84, squidsz04, squidsz48, squidsz77, s...",7,13,15639955602
5,"(3, 2, 3, 2, 2, 3, 1, 1)","(squidsz87, squidsz91, squidsz103, squidsz104,...",8,17,15665175906
6,"(1, 1, 1, 1, 1, 1, 1, 1)","(squidsz11, squidsz10, squidsz40, squidsz46, s...",8,8,15696135003
7,"(23, 7, 7, 17)","(squidsz109, squidsz15, squidsz24, squidsz32)",4,54,17678977583
8,"(3, 4, 1, 3, 1, 1)","(squidsz83, squidsz86, squidsz114, squidsz106,...",6,13,17694813571
9,"(4, 2, 9, 1, 1, 1, 1, 1, 1, 1, 1)","(squidsz105, squidsz111, squidsz129, squidsz07...",11,23,18599079688
10,"(5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","(squidsz05, squidsz10, squidsz07, squidsz15, s...",18,22,18634697724

#### 这些用户当日不存在其他请求，由此推测可能是频繁变更IP地址引起封禁

### C、分析请求数量超过100的代理

In [116]:
filte=np.logical_and(new_tel_pd.http_unique_count.values>1,new_tel_pd.req_count.values>100)
tmp_4=new_tel_pd.loc[filte,['tel','req_count','http_req_count','http_unique_count','http_unique']]
tmp_4

,tel,req_count,http_req_count,http_unique_count,http_unique
1,13008382883,139,"(3, 2, 2, 9, 123)",5,"(squidsz02, squidsz04, squidsz03, squidsz38, s..."
9,13098734333,207,"(15, 15, 177)",3,"(squidsz79, squidsz126, squidsz116)"
10,13037809543,181,"(15, 15, 15, 136)",4,"(squidsz25, squidsz33, squidsz106, squidsz81)"
12,13055410111,172,"(7, 2, 15, 7, 141)",5,"(squidsz126, squidsz05, squidsz09, squidsz83, ..."
17,18685786884,162,"(15, 15, 132)",3,"(squidsz49, squidsz127, squidsz22)"
20,18650708170,153,"(7, 2, 144)",3,"(squidsz76, squidsz77, squidsz85)"
22,18666151238,209,"(15, 194)",2,"(squidsz30, squidsz92)"
25,13172598744,175,"(15, 15, 145)",3,"(squidsz102, squidsz71, squidsz29)"
28,18690861133,147,"(15, 132)",2,"(squidsz36, squidsz29)"
34,18672485919,145,"(15, 125, 5)",3,"(squidsz128, squidsz116, squidsz113)"

#### 使用代理数量相对B情况要少，但是均存在某一个代理使用超过100的情况，可能是因为当日请求量超过阈值或者Ip地址发送变化引起

### D、分析C中代理使用量超过100的情况发生的时机

In [129]:
def select_tel(tel):
    data=db_conn.sid_info.find({"end_time":{'$gte':date_to_time('20181106'),'$lte':date_to_time('20181107')},'tel':tel})
    data2=list(data)
    data2=pd.DataFrame(x for x in data2)
    some_sid_http_proxy=get_proxy(data2)
    some_sid_http_proxy_pd=pd.DataFrame(x for x in some_sid_http_proxy) 
    some_sid_http_proxy_pd=some_sid_http_proxy_pd.loc[some_sid_http_proxy_pd.req_count.values>0,['sid','req_count','tel','status','dates']]
    some_sid_http_proxy_pd['dates']=some_sid_http_proxy_pd.dates.map(max)
    return some_sid_http_proxy_pd

In [130]:
select_tel('13055410111')

,sid,req_count,tel,status,dates
0,SIDa04479e6aa8546a88f2bee4070074a94,148,13055410111,5017,20181108151213
1,SIDaf5279b9592a42d2a64e7183991b4967,24,13055410111,5017,20181108151720

In [131]:
select_tel('18672485919')

,sid,req_count,tel,status,dates
0,SID4a6ae120e8284aeba404e5e2a2797775,130,18672485919,5017,20181108073423
1,SID6bcf293895294e5ea4415f8f46a3128c,15,18672485919,5017,20181108093748

#### 由此可以看出，18672485919 先发生了130次官网请求，然后重试有发生了一个15次的官网请求，在首次请求时已经触发封禁

## 5、结论
### 1）、单次爬虫事务中，如果短时间内请求官网超过115次，可能被封禁
### 2）、多次爬虫事务中，如果使用多个ip代理请求官网，超过3个ip将可能被封禁
### 3）、联通反爬策略为，tel+ip进行识别，相同ip不同客户、相互不干扰
### 4）、针对分析结果，建立爬虫代理池对该以上反爬策略无效